.fL{
  float:left;
}

.cB{
  clear:both;
}

.brad5{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.brad10{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.brad15{
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.ins_file_text {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border: 1px dashed #A6B9DE;
  background-color: #fff;
  position: relative;
}

.ins_file_text div {
  cursor: pointer;
}