<form action="/images/new" method="get" id="imageform" enctype="multipart/form-data">
<input type="hidden" value="1" name="image[type]"/>
  <input type="hidden" value="<%= @bicycle.id %>" name="image[type_id]"/>
<div  id='div_for_form' class='div_for_img_forms' align='center' >  Add photo
  <div align="center" id='td_for_load_img1' >
    <div class="ins_file_text brad15" title="Add photo">
      <div style="cursor:pointer;"> <div style="position: absolute;top: 40%;left: 42%;top:40%"  class="glyphicon glyphicon-camera"></div></div>
      <input accept='image/jpeg' type='file' name='image[file]' multiple class="ins_file_input" id='photoimg' size="1" style="margin-top: 0px; margin-left:-410px; -moz-opacity: 0; filter: alpha(opacity=0); opacity: 0; font-size: 150px; height: 100px;"/>
    </div>
  </div>



  <br/>
</div>
</form>
<div id="preview"  class="fL">
  <% @images.each do |image| %>
  {{ partial("images/load") }}
  <% end %>
</div>
<div id="preview1" class="fL"></div>
<div class="cB"></div>